## APP
APP_URL=
APP_KEY=

## CONF
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

## Session
SESSION_DRIVER=cookie

## LOG
LOG_LEVEL=info

## Database
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=knowledge
DB_PASSWORD=knowledge
DB_DATABASE=knowledge

### S3
DRIVE_DISK=s3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET=
